body{
background: #23577f url('../img/bgw.jpg') top center no-repeat fixed;
background-size: cover;
font-family: 'PT Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6{
font-family: 'PT Sans', sans-serif;
font-weight: 700;
}
.wtitle{
color:white;
letter-spacing: -1px;
text-shadow: 0 1px 1px rgba(60, 60, 60, 0.61);
text-rendering: optimizeLegibility;
}
.bwell{
color:white;
background: rgba(0,0,0,0.61);
border: 1px solid #222;
border-radius:4px;
padding:15px;
margin-top:15px;
}
.fluid-container {
padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right: auto;
}
.vasc {
background-color: rgba(64, 91, 126, 0.57);
padding: 10px;
text-shadow: 0 0 #080808;
-moz-box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.48);
-webkit-box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.48);
box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.48);
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
border-bottom: 1px solid white;
border-color: rgba(255, 255, 255, 0.44);
}