<!DOCTYPE html>
<html>
  <head>
    <title>WundtLab</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
	 <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link rel="stylesheet" type="text/css" href="css/custom.css">
    
  </head>
  <body>
    
<div class="row text-center">
	<div class="col-md-12" style="">
		<h1 class="wtitle">Ajuda a ciência e ganha dinheiro.</h1>
		<p class="lead wtitle">Participa em estudos de psicologia usando o teu smartphone
		e ganha saldo na Amazon.</p>
		
	</div>
	<div class="row">
		<div class="col-md-6">
			video do powtoons
		</div>
		<div class="col-md-4 pull-right" style="background: #fff; border-radius: 5px;">
			<p class="lead">Queres saber como podes
			participar nestes estudos?</p>
			<form action="http://wordpress.us7.list-manage1.com/subscribe/post?u=806cd09ba7b639b31d7c4239f&amp;id=ef57f3e875" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="" style="padding:0px; margin:0px;" _lpchecked="1">
									
									<input type="email" value="" style="height:29px; margin-top:-9px; width: 45%;" placeholder="O seu email" name="EMAIL" class="required email" id="mce-EMAIL">
									
									<input type="submit" value="Subscrever" style="margin-top:-10px; width: 45%;" name="subscribe" id="mc-embedded-subscribe" class="btn btn-info pull-right">
								</form>
			<br>
			<%= render_shareable :buttons=> ['twitter', 'facebook'] %>
		</div>

	</div>
	<br>
	<div class="row">
		<div class="col-md-3 col-md-offset-1" style="color:white; background: rgba(0,0,0,0.61); border: 1px solid #222; border-radius:4px; padding:15px; margin-top:15px;">
			<h2 class="wtitle">Contribui para a psicologia!</h2>
			A investigação é uma parte
			fundamental da ciência e
			agora podes contribuir
			também! Participa em estudos
			que nos ajudam a conhecer
			melhor como funciona a
			mente humana.
		</div>
		<div class="col-md-3 col-md-offset-1 " style="color:white; background: rgba(0,0,0,0.61); border: 1px solid #222; border-radius:4px; padding:15px; margin-top:15px;">
			<h2 class="wtitle">Ocupa os teus tempos!</h2>
			Todos temos alturas em que
			perdemos tempo, seja na fila
			das finanças, no consultório
			do médico ou nos transportes
			públicos. Agora podes
			aproveitar esses tempos de
			forma útil.
		</div>
		<div class="col-md-3 col-md-offset-1" style="color:white; background: rgba(0,0,0,0.61); border: 1px solid #222; border-radius:4px; padding:15px; margin-top:15px;">
			<h2 class="wtitle">Ganha dinheiro!</h2>
			Não vais passar a viver só de
			participar em estudos mas vais
			poder ganhar um extra e
			comprar aquele livro, álbum de
			música ou telemóvel.
		</div>
	</div>
</div>
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>

